<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyCRMServer"
  connectionString="AuthType=AD;Url=https://cb-icap-class.test.jag.gov.bc.ca;Domain=idir;Username=aishwarya.sivaraman@gov.bc.ca;Password=viSion@2021;OrgName=CB-ICAP-CLASS"/>
  </connectionStrings>
  <appSettings>    
    <add key="RefreshEntity" value="Confinement" />
    <add key="LastRefreshedDate" value="5/30/2021" />
    <add key="LastExecutedDate" value="5/9/2021" />
    <add key ="RetrieveEntity" value="ssg_separateconfinement"/>
    <add key ="RetriveColumn" value="ssg_separateconfinementenddate,ssg_separateconfinementid,ssg_actualenddatetime,ssg_s17starteddate,ssg_extensioncreateddate,ssg_originalenddatetime,ssg_newendtime,ssg_initiationdate,ssg_confinementcreationdate,ssg_dateofnotification,ssg_approveddate"/>
    
    <!--<add key ="RetrieveEntity" value="ssg_separateconfinementperiod"/>
    <add key ="RetriveColumn" value="ssg_currentlastconfinementexpiry,ssg_confinementstartdate,ssg_separateconfinementperiodid,ssg_nextconfperiodexpirydate,ssg_mhreviewduedate,ssg_s17expirydatetime,ssg_dwreviewduedate,ssg_actualconfinementend,ssg_endforopenstatuscalc,ssg_currentconfinementperiodstartdate,ssg_hqreviewduedate"/>-->
    
    <!--<add key ="RetrieveEntity" value="ssg_separateconfinementreview"/>
    <add key ="RetriveColumn" value="ssg_reviewduedate,ssg_separateconfinementreviewid,ssg_reviewcompletiondatetime"/>-->
    
    <!--<add key ="RetrieveEntity" value="ssg_dailytracking"/>
    <add key ="RetriveColumn" value="ssg_date,ssg_dailytrackingid,ssg_managerreviewtime,ssg_healthcareconsulttime,ssg_name"/>-->
    
    <!--<add key ="RetrieveEntity" value="ssg_separateconfinement"/>
    <add key ="RetriveColumn" value="ssg_separateconfinementenddate,ssg_separateconfinementid,ssg_actualenddatetime,ssg_s17starteddate,ssg_extensioncreateddate,ssg_originalenddatetime,ssg_newendtime,ssg_initiationdate,ssg_confinementcreationdate,ssg_dateofnotification,ssg_approveddate,"/>
    <add key ="RetrieveEntity" value="ssg_separateconfinement"/>
    <add key ="RetriveColumn" value="ssg_separateconfinementenddate,ssg_separateconfinementid,ssg_actualenddatetime,ssg_s17starteddate,ssg_extensioncreateddate,ssg_originalenddatetime,ssg_newendtime,ssg_initiationdate,ssg_confinementcreationdate,ssg_dateofnotification,ssg_approveddate,"/>-->


  </appSettings>
</configuration>